@import 'variables';

.header {
  min-height: 100vh;
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    .menu {
      &__list {
        display: flex;
        align-items: center;
        gap: 0 40px;

        .menu__link {
          font-weight: 700;
          color: $black;
        }

        .menu__btn {
          padding: 15px 58px;
          border-radius: 30px;
          background-color: $black;
          text-transform: uppercase;
          font-weight: 700;
          color: $white;
        }
      }
    }
  }

  &__content {
    padding-bottom: 50px;

    .title {
      color: $black;
      font-family: $main-font;
      font-size: 210px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      position: absolute;
      padding-top: 110px;

      &--pod {
        position: relative;
        z-index: -1;
      }

      &--s {
        display: inline-block;
        transform: translate(17px, 53px);
      }

      &--m {
        display: inline-block;
        transform: translate(-40px, 280px);
      }

      &--ax {
        display: inline-block;
        transform: translate(-104px, 419px);
        position: relative;
        z-index: -1;
      }
    }

    &-img {
      text-align: center;

      &::before {
        content: '';
        background: $blue-gradient;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -2;
      }
    }
  }

}
