// SIZES
$container: 1220px;

// COLORS
$black: #000;
$white: #fff;
$blue-gradient: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
$red-gradient: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
$black-gradient: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0.00) 100%);
$green-gradient: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0.00) 100%);
$white-gradient: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0.00) 100%);

// FONTS
$main-font: 'Inter',
sans-serif;